        body{-moz-user-select:none;}
        .whiteFont {
            color: white;
        }

        .yellow_bg {
            background-color: #CDCD00
        }

        .green_bg {
            background-color: #00FF00
        }

        .red_bg {
            background-color: #FF0000
        }

        body {
            background: url("../cssjs/imgs/bg.jpg") repeat;
            background-size: 100%;
        }

        .cl0 {
            z-index: 9999;
            background: url("../cssjs/imgs/3_01.jpg") no-repeat;
            background-size: 100%;
        }

        .cl1 {
            z-index: 9999;
            margin-top: -20px;
            background: url("../cssjs/imgs/3_02.jpg") no-repeat;
            background-size: 100%;
        }

        .cl2 {
            z-index: 9999;
            text-align: center;
            background: url("../cssjs/imgs/3_03.jpg") no-repeat;
            background-size: 100%;
        }

        .cl3 {
            height: 200px;
            margin-top: -40px;
            background: url("../cssjs/imgs/3_04.jpg") repeat;
            background-size: 100%;
        }

        .cl4 {
            background: url("../cssjs/imgs/3_05.jpg") no-repeat;
            background-size: 100%;
        }

        .cl5 {
            background: url("../cssjs/imgs/3_06.jpg") no-repeat;
            background-size: 100%;
        }

        .cl6_yellow {
            height: 40px;
            background: url("../cssjs/imgs/3_07_y.jpg") no-repeat;
            background-size: 100%;
        }

        .cl6_red {
            height: 40px;
            background: url("../cssjs/imgs/1_07.jpg") no-repeat;
            background-size: 100%;
        }

        .cl6_green {
            height: 40px;
            background: url("../cssjs/imgs/2_07.jpg") no-repeat;
            background-size: 100%;
        }

        .cl6_grey {
            height: 40px;
            background: url("../cssjs/imgs/grey.png") no-repeat;
            background-size: 100%;
        }

        .cl6_purple {
            height: 40px;
            background: url("../cssjs/imgs/purple.png") no-repeat;
            background-size: 100%;
        }

        .cl6_blue {
            height: 40px;
            background: url("../cssjs/imgs/blue.png") no-repeat;
            background-size: 100%;
        }

        .cl7 {
            background: url("../cssjs/imgs/3_08.jpg") no-repeat;
            background-size: 100%;
        }

        .cl8 {
            height: 60px;
            background: url("../cssjs/imgs/3_10_1.png") no-repeat;
            background-size: 100%;
        }
